@font-face {
	font-family: 'Cursed Timer ULiL';
	src: url('../fonts/cursed_timer_ulil.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/cursed_timer_ulil.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/cursed_timer_ulil.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/cursed_timer_ulil.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/cursed_timer_ulil.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/cursed_timer_ulil.svg#cursed_timer_ulil') format('svg'); /* Chrome < 4, Legacy iOS */
}